@font-face {
    font-family: 'Inter-Regular';
    src: url('../../fonts/Inter-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
        /* Super Modern Browsers */
         url('../../fonts/Inter-Regular.woff2') format('woff2'),
         url('../../fonts/Inter-Regular.woff') format('woff'),
         /* Safari, Android, iOS */
         url('../../fonts/Inter-Regular.svg#Narin') format('svg');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../../fonts/Inter-Medium.eot');
    /* IE9 Compat Modes */
    src: url('../../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
        /* Super Modern Browsers */
         url('../../fonts/Inter-Medium.woff2') format('woff2'),
         url('../../fonts/Inter-Medium.woff') format('woff'),
         /* Safari, Android, iOS */
         url('../../fonts/Inter-Medium.svg#Narin') format('svg');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../../fonts/Inter-SemiBold.eot');
    /* IE9 Compat Modes */
    src: url('../../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
        /* Super Modern Browsers */
         url('../../fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../../fonts/Inter-SemiBold.woff') format('woff'),
         /* Safari, Android, iOS */
         url('../../fonts/Inter-SemiBold.svg#Narin') format('svg');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
        /* Super Modern Browsers */
         url('../../fonts/Inter-Bold.woff2') format('woff2'),
         url('../../fonts/Inter-Bold.woff') format('woff'),
         /* Safari, Android, iOS */
         url('../../fonts/Inter-Bold.svg#Narin') format('svg');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
        /* Super Modern Browsers */
         url('../../fonts/Inter-Bold.woff2') format('woff2'),
         url('../../fonts/Inter-Bold.woff') format('woff'),
         /* Safari, Android, iOS */
         url('../../fonts/Inter-Bold.svg#Narin') format('svg');
}