$primary-color: #011627;
$dark-bg:#1F1F24;
$secondary-color: #f57537;
$color-orange: #FF7557;
$color-yellow: #F8BC3B;
$color-lotus:#7856FF;
$white:#fff;
$black:#000;
$text-grey:#1D1E21;
$text-light-grey:#626266;
$text-footer-link:#8F8F91;

$freeDark:#03A0E1;
$freeLight:#E0F6FF;
$silverDark:#A5A6AD;
$silverLight:#EAE9E9;
$goldDark:#FFB348;
$goldLight:#FEF1DC;
$platinumDark:#8080BB;
$platinumLight:#EFEFFF;
$grid-bg:#eceded;


$Font-Regular: 'Inter-Regular';
$Font-Medium: 'Inter-Medium';
$Font-SemiBold: 'Inter-SemiBold';
$Font-Bold: 'Inter-Bold';